body{
  /* background-image: url("./assets/gif_1.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  background: #000;
}
:root{
  --text-color:#7440FF

}

li:hover{
  background-color: rgb(134, 134, 245);

}